body {
    font-family: Times, Serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #000000;
    margin-bottom: 10px;
}

.navbar h1 {
    margin: 10;
    font-size: 24px;
    color: #ffffff;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin: 0 150px;
}


.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ff0000;
}

.search {
    width: 98%;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
}

.buttons {
    display: flex;
}


.todo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 20px;
}

.todoLabel {
    font-size: 18px;
    width: 100%;
}

.deleteButton {
    background-color: #ff0000;
    color: #000000;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 1%;
    margin-right: 0%;
}

.deleteButton:hover {
    background-color: #ff00009a;
    color: #000000;
}

.editButton {
    background-color: #5c5c5c;
    color: #000000;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 1%;
    margin-right: 0%;  
}

.editButton:hover{
    background-color: #5c5c5c7e;
    color: #000000;  
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.createText {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}